<div style="margin-right: 20px;">
    <h3 class="mb-20">liste des coctails</h3>
    <input type="text" class="mb-20 w-100" [(ngModel)]="search" placeholder="chercher un cocktail">
    <ul *ngIf="cocktails" class="mb-20">
        <li  
        (click)="selectCocktail(index)" 
        [routerLink]="[index]"
        routerLinkActive="active"
         *ngFor="let coc of cocktails | filter:search ;
         let index = index">
            {{coc.name}}
        </li>
    </ul>
    <div>
        <button routerLink="new" class="btn btn-primary">Ajouter un cocktail</button>
    </div>
</div>
